.board__verify__password__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 80vh;
    background-color: #f6f2ec;
    border-top: 3px solid #ffdeb3;
    border-bottom: 2px solid #ffdeb3;
}

.board__verify__password__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 15px;
}

.board__verify__password__text {
    font-size: 22px;
    font-weight: 600;
    color: #936434;
}

.board__verify__password__button {
    display: flex;
    gap: 10px;
}

.board__verify__password__error {
    font-size: 18px;
    font-weight: 600;
    color: red;
}
